.sidebar-left{
	position:fixed;
	top:22.4%;
	left: 0%;
	width: 15%;
	background-color: #292424;
	height: 100%;
}

.fa-facebook-messenger{
	color: white;
	position: fixed;
	top:50%;
	left: 15px;
}

.contact:before{
	content: "Liên hệ";
	width: 100px;
	height: 20px;
	position: absolute;
	color: white;
	top:20%;
	left: 5%;
	opacity: 0;
	transition: 500ms all;
}
.contact:hover:before{
	transform: translateY(20px);
	opacity: 1;
}
.video{
	height: 150px;
	width: 15%;
	position: fixed;
	bottom: 0px;
	left: 0px;
}