.header{
	display: block;
	flex-direction: column;
	width: 100%;
	position: fixed;
	top:0px;
}
.header-top{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: black;
	padding-top: 20px;
}
.image-zing{
	margin-left: 70px;
	background-color:black;
    width: 199px;
    height: 66px;
	background-image: url("https://zmp3-static.zadn.vn/skins/zmp3-v5.2/images/logo-mp-3.svg");
	background-size: cover;
	background-position: center;
	cursor: pointer;
	margin-bottom: 10px;
}
.search{
	display: flex;
	flex-direction: row;
	margin-left: 90px;
	width: 35%;
	flex-grow: 1;
	background-color: #131010;
    color: #7f7777;
	padding: 15px 30px; 
	height: 20px;
	box-shadow: .4px .4px 5px rgba(255, 255, 255, .4);
}
.search >i{
	padding-right:  5px;
	color: #7f7777;
}
input{
	color: #7f7777;
	border: none;
	background: none;
	outline: none;
	border: none;
	width: 100%;
}

input:focus + .fa-backspace {
	opacity: 1;
}
.fa-backspace{
	opacity: 0;
}
.user{
	flex-grow: 1;
	margin-left: 30px;
	font-size: 16px;
}
.fas{
	color: #d7dbe6;
}
.user > a{
	padding-left: 10px; 
	text-decoration: none;
	color: #d7dbe6;
	font-weight: 400;
	transition: 300ms;
}
.user > a:hover{
	color: green;
}

.user :hover{
	transform: translateY(5px);
}

.toggle{
	margin: 15px 30px 0 0; 
	flex-grow: 1;
	user-select: none;
	transition: 300ms;
}

#turnon:active{
	transform: translateY(5px);
}

.toggle .light{
	position: absolute;
	right:  20px;
	top:70px;
	width: 200px;
	height: 60px;
	text-align: center;
	background-color: #443e3e;
	display: none;
	border-radius: 10px;
	transition: 200ms;
}
.toggle .turnoff{
	display:block;
}

.light .fa-cog{
	position: absolute;
	left: 0px;
    top: 16px;
	margin-top: 10px;
	padding: 5px 10px 0 0px;
	width: 130px;
	user-select: none
	color:grey;
}

.light .radio{
	position: absolute;
	right: -66px;
    top: 13px;
	-webkit-appearance:none;
	appearance:none;
	height: 20px;
	width: 50px;
	background-color: grey;
	border-radius: 40px;
	margin-top: 18px; 
	position: relative;
}
.light .radio:checked{
	background-color: #62159a;
}

.light .radio:before{
	content: '';
	width: 18px;
	height: 19px;
	position: absolute;
	background-color: white;
	border-radius: 50%;
	top:0;
	left: 0;
	transition: 300ms;
}

.light .radio:checked:before{
	left: 32px;
}
	
/*header bottom

----------------------------
*/

.header-bottom{
	display: flex;
    height: 52px;
    background-color: #2b2828;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.listMenu{
	display: flex;
	list-style-type: none;
	padding:0;
	overflow: none;
	color: rgb(206, 206, 206);
	font-weight: 100;
	font-size: 15px;
	cursor: pointer;
	justify-content: space-around;
	align-items: center;
}

.listMenu li{
	padding: 10px 18px;
	flex-grow: 1;
	text-align: center;
	cursor: pointer;
}

li:hover{
    border-bottom: 2px solid rgb(101, 80, 158);
}
li >a{
	font-size: 14px;
    font-weight: 500;
	text-decoration: none;
	color: rgb(206, 206, 206);
}

li:hover a{
	color: rgb(110, 85, 180);
}

.child{
	position: relative;
}
.zingchar:hover .div-menucon{
	display: block;
}
.div-menucon{
	display: flex;
	flex-direction:row;
	width: 545px;
	font-size: 15px;
	padding: 0;
	position: absolute;
	left: -30%;
	top: 110%;
	display: none;
	justify-content: space-around;
	align-items: center;
	background-color:#2b2828;
}
.menu-con{
	list-style: none;
	float: left;
	padding:20px;
	color: white;
	font-size: 15px;
	font-weight:500;
	font-family: sans-serif;
}
.menu-con >li{
	font-size: 14px;
	color:rgb(206, 206, 206);
	text-align: center;
	margin: 0;
}
.menu-con >li:hover{
	border: none;
	color: grey;
}