	.main{
	margin-top:147px;
	background-color: #292424;
	display: flex;
	justify-content: center;
	align-items: center;
}

.body{
	float: center;
	width:70%;
	height: 100%;
	background-color: black;
}

.picture{
	width: 100%;
	height: 315px;background-image: url('anh/anh1.jpg');
	background-size: cover;
	background-position: center;
	transition: all 400ms ease-in-out;
}

.lammo{
	width: 100%;
	height: 315px;
	background: rgb(18,18,17);
    background: linear-gradient(0deg, rgba(18,18,17,1) 0%, rgba(230,235,234,0) 30%);
    display: flex;
    justify-content:center;
    align-items: flex-end;
}

.btnchuyenanh{
	width: 10px;
	height: 10px;
	margin: 5px 5px;
	border-radius: 50%;
	outline: none;
	background:none;
	border: 1px solid #4e4444;
	cursor: pointer;
	transform: scale(1);
	transition: 300ms;
}

.btnchuyenanh:hover{
	transform: scale(1.4);
}


.anbtn{
	display: none;
}


/*css zingchart*/

.zingchart{
	width: 90%;
	height: 190px;
	margin: 3% 5%;
	border-bottom: 0.4px solid #4e4444;
}

.zingchart > a{
	text-decoration: none;
	color: white;
	font-weight: 700;
}

.zingchart > a:hover{
	color: rgb(110, 85, 180);
}

.div-imgaeZingchart{
	width: 100%;
	height: 116px;
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

.div-chua{
	height: 116px;
	width: 209px;
	margin: 0px 15px; 
	overflow: hidden; 
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.anh{
	height: 100%;
	width: 100%;
	transition:  0.5s;
	background-size: cover;
	background-position: center;
	 transition:  0.7s;
}

.div-chua:hover .anh{
	transform: scale(1.05);
	opacity: 0.9;
	
}


/*CSS ANH TOP 100*/
.top100{
	width: 90%;
	height: 680px;
    margin: 36px 5% 5% 5%;
	border-bottom: 0.4px solid #4e4444;
}

.Line1{
	width: 100%;
	height: 300px;
	margin-bottom: 10px;
}
.top100 >a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-weight: 700;
}

.top100 >a:hover{
	color: rgb(110, 85, 180);
}
.imageTop100{
	width: 100%;
	height:100%;
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

.div-anhTop100{
	width: 100%;
	height: 260px;
	margin: 0px 15px;
	border-radius: 2px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
}

.div-anhTop100:hover{
	position: relative;
}

.anhTop100{
	height: 210px;
	width: 100%;
	margin-bottom: 10px; 
	overflow: hidden;
}
.img{
	width: 100%;
	height: 211px;
	transition:  0.7s;
}

.anhTop100:hover .img{
	transform: scale(1.08);
	opacity: 0.7;
}

.anhTop100> .fa-play-circle{
	position: absolute;
	top:37%;
	left: 40%;
	color: white;
	font-size: 40px;
	background-color: rgb(110, 85, 180);
	border-radius: 50%;
	transition: 0.7s;
	opacity: 0;
}

.anhTop100:hover .fa-play-circle{
	opacity: 1;
}

.tieude{
	height: 10px;
	width: 100%
}

.tieude > a{
	color: white;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 1.5rem;
}

.tieude > a:hover{
	color: rgb(110, 85, 180);
}



/*CSS Bài hát mới*/
.baihatmoi{
	width: 90%;
	height: 300px;
	margin: 36px 5% 5% 5%;
}
.TittleNewSong{
	float: left;
}
.a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-weight: 700;
}

.a :hover{
	color: rgb(110, 85, 180);
}

.playall{
	float: right;
}

.btnPlay{
	font-size: 12px;
    border-radius: 2px;
    line-height: 24px;
    border: 0;
    padding: 4px 8px;
    background-color: #65509e;
    color: #fcfcfc;
    text-transform: initial;
    cursor: pointer;
	width: 120px;
	height: 35px;
	font-weight: 500;
}
.btnPlay:hover {
	background-color: #fcfcfc!important;
    border-color: #fcfcfc!important;
    color: #6e55b4!important;
}
.btnPlay:hover >.fa-play{
	color: black;
}

.listNewSong{
	clear: both;
	width: 100%;
	height: 250px;
	padding-top: 28px;
}

.listSongLeft{
	height: 250px;
	width: 50%;
	float: left;
}

.listSongRight{
	border-left: 1px solid #232020; 
	height: 250px;
	width: 47%;
	float: right;
	padding-left: 5px;
}

.listSong{
	color: white;
	list-style: none;	
}

.listSong> .li{
	width: 100%;
	height: 50px;
	border: none;
	padding-left: 10px;
	cursor: pointer;
}

.listSong> .li:hover{
	background-color: #211e1ead;
}

.imageSongnew{
	height: 42px;
	width: 13%;
	float: left;
	margin-top:5px;
}

.listSong> .li:hover .imageSongnew{
	position: relative;
}

.image-song{
	height: 42px;
	width: 41px;
}

.imageSongnew >.playsong{
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top:25%;
	left: 23%;
	color: white;
	font-weight: 600;
	opacity: 0;
	transition: 300ms;
}

.li:hover .playsong{
	opacity: 1;
}

.titleSongnew{
	height: 42px;
	width: 60%;
	float: left;
	margin-top:5px;
}

.namesong{
	font-size: 14px;
	font-weight: 600;
	line-height: 1.8rem;
}

.namesinger{
	font-size: 12px;
	color: 	#9c9898;
}

.iconchucnang{
	height: 42px;
	width: 27%;
	float: left;
	margin-top:5px;
	color: white;
	padding-top: 5px;
	opacity: 0;
	transition: 300ms;
}
.customIcon{
	padding: 0 7px;
}

.li:hover .iconchucnang {
	opacity: 1;
}

.fas{
	cursor: pointer;
}


/*CSS CHỦ ĐỀ THỂ LOẠI*/
.chude-theloai{
	width: 95%;
	height: 440px;
	margin: 40px 0% 5% 2.5%;
	border-radius: 1px;
	background-color: #3c323285;
}

.tenchudetheloai{
	cursor: pointer;
	width: 45%;
	height: 60px;
	float: left;
	padding-top: 35px;
	padding-left: 2%;
}

.tenchudetheloai> a{
	color: white;
	font-size: 24px;
	text-decoration: none;
	font-weight: 700;
}

.tenchudetheloai> a:hover{
	color: rgb(110, 85, 180);
}

.chonchucnang{
	margin-top: 10px;
	height: 30px;
	width: 40%;
	padding-top: 40px;
	padding-right: 10px;
	text-align: right;
	float: right;
}
.chonchucnang >a{
	padding:5px;
	font-size: 17px;
	text-decoration: none;
	color: grey;
	font-weight: 600;
	cursor: pointer;	
}

.chonchucnang >a:hover{
	color: #9877ff;
}

.chonchucnang >a:visited{
	color: #9877ff;
}

.chonloc{
	clear: both;
	width: 100%;
	height: 300px;
}

.chonlocLine1{
	margin: 30px 0 3% 3%;	
	width: 95%;
	height: 50%;
	display: flex;
	flex-direction: row;
}

.anhchonloc{
	width: 213px;
	height: 118px;
	margin-right:  10px;
	margin-left: 10px;
	border-radius: 2px;
	overflow: hidden;
	cursor: pointer;
}

.anhchonloc:hover{
	position: relative;
}
.anhchonloc h4{
	width: 213px;
	text-align: center;
	position: absolute;
	bottom: 40%;
	color: white;
	font-size: 17px;
	opacity: 0;
}
.anhchonloc:hover h4{
	opacity: 1;
}
.imgchonloc{
	width: 213px;
	height: 118px;
	transition: 500ms;
}

.anhchonloc:hover .imgchonloc{
	transform: scale(1.09);
}


/*CSS ALBUM hot*/
.albumHot{
	width: 95%;
	height: 680px;
	margin: 40px 0% 5% 2.5%;
}

.anhAlbum{
	width: 100%;
	clear: both;
	height: 500px;
}

.albumhot1{
	margin: 30px 0 0 0;
	width: 100%;
	height: 280px;
	display: flex;
	flex-direction: row;
}

.childAlbum{
	width: 210px;
	height: 280px;
	display: flex;
	flex-direction: column;
	margin: 0 5px 0 8px;
}

.anhnenalbum{
	width: 210px;
	height: 210px;
	border-radius: 2px;
	overflow: hidden;
	cursor: pointer;
}

.childAlbum:hover .anhnenalbum{
	position: relative;
}

.imgAlbum{
	width: 100%;
	height: 100%;
	transition: 500ms;
}
.childAlbum:hover .imgAlbum{
	transform: scale(1.06);
	opacity: 0.6;
}

.anhnenalbum> .playalbum{
	position: absolute;
	color: white;
	font-size: 25px;
	top:40%;
	left: 40%;
}
.namesong{
	cursor: pointer;
	font-size: 16px;
    font-weight: 600;
    color: #fff;
    overflow: hidden;
    line-height: 1.56;
    text-transform: capitalize;
}

.infoAlbum{
	margin-top: 5px; 
}
.infoAlbum> .namesong:hover{
	color: rgb(110, 85, 180);
}

.infoAlbum> .namesinger{
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	color: #a0a0a0;
	text-transform: capitalize;
}

.infoAlbum> .namesinger:hover{
	color: rgb(110, 85, 180);
}

/*CSS VIDEO HOT*/
.videohot{
	width: 95%;
	height: 350px;
	margin: 40px 0% 5% 2.5%;
	border-radius: 2px;
}

.div-video{
	width: 100%;
	height: 280px;
	clear: both;
}

.videoleft{
	float: left;
	width: 48%;
	height: 320px;
}
.inforVideo{
	width: 100%; 
	height: 30px;
}
.inforVideo >p{
	cursor: pointer;
	font-size: 18px;
    font-weight: 600;
    color: #fff;
    overflow: hidden;
    line-height: 1.56;
    text-transform: capitalize;
}
.inforVideo >p:hover{
	color: rgb(110, 85, 180);
}
.videoright{
	float: right;
	width: 48%;
	height: 280px;
}
.childVideo{
	margin-bottom: 12px;
	width: 100%;
	height: 130px;
}

.nameVideo{
	float: right;
	width: 28%;
}

.nameVideo >p{
	cursor: pointer;
	font-size: 18px;
    font-weight: 600;
    color: #fff;
    overflow: hidden;
    line-height: 1.56;
    text-transform: capitalize;
}

.nameVideo >p:hover{
	color: rgb(110, 85, 180);
}